html {
  height: 100%;
}

body {
  margin: auto;
  min-height: 100%;
  font: 16px / 1 sans-serif;
 
  
}

.board {
  border: 20px solid #1e2d44;
  background-color:#0141a3;
  
  
}

table {
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

table td {
  padding: 1em;
  border: 2px solid black;
  margin: 0;
  text-align: center;
}

h2 {
  color: white;
}

tbody {
  color: yellow;
  text-decoration: underline;
}

tfoot {
  color: white;
}

.answerBox {
  background-color: blue;
  color: white;
}